<h1>Ratings#index</h1>
<p>Find me in app/views/ratings/index.html.erb</p>

<form>
  Movie:<br>
    <input type="text" name="movie"><br>
  
  Rating (between 1 and 5):<br>
    <input type="number" name="quantity" min="1" max="5"><br>
  
  My review:<br>
    <textarea rows="4" cols="50">
      At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
    </textarea><br>

  <button type="button" onclick="alert('Submit')">Click Me!</button>
</form>
